<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447813783412-r73fi12btkak9o1km7nj5dbug7ag2o0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447813783412-r73fi12btkak9o1km7nj5dbug7ag2o0p</string>
	<key>API_KEY</key>
	<string>AIzaSyCQsU171hdcASWeHCaasNWxZjjQSwH6Zw8</string>
	<key>GCM_SENDER_ID</key>
	<string>447813783412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-6ec44</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-6ec44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447813783412:ios:13bfef648b77158a01a621</string>
</dict>
</plist>